.kutu1  {display: block;width: auto;height: 574px; background : red;padding: 60px 0 0 0; }
.kutu2  {width: 378px;height: 187px; background : rgb(58, 106, 116); margin: 0 0 0 40px;float: left;}
.kutu3  {width: 574px;height: 187px; background : rgb(58, 106, 116); margin: 0 0 0 40px;float: left;}
.kutu4  {width: 458px;height: 70px; background : rgb(58, 106, 116); margin: 200px 0 0 40px; position: relative;}
.kutu5  {width: 368px;height: 82px; background : rgb(58, 106, 116);position: relative; margin: 15px 0 0 40px;}